.form {
    &__fieldset {
    }

    &__field {
        @include reset-vertical-identation-of-first;

        margin-top: 16px;

        @media #{$screen-tablet} {
            margin-top: 32px;
        }

        @media #{$screen-desktop} {
            margin-top: 58px;
        }
    }
}
