.title {
    font-family: $font-family-secondary;
    line-height: $line-height-small;

    &--xxl {
        @include text-xxl;
        letter-spacing: -2px;
    }

    &--huge {
        @include text-huge;
    }

    &--big {
        @include text-big;
    }
}
